.navContainer{
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: inset;
}

.containerLinks{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.links{
    display: flex;
    gap: 12px;
}

.links a{
    padding: 5px;
    text-decoration: none;
    color: #8a8989;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.links a:hover{
    transform: translateY(-4px);
}

.btnTema{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

@media (max-width: 768px) {
    .navContainer {
        align-items: flex-start;
        gap: 16px;
        padding: 16px;
    }

    .containerLinks {
        justify-content: space-between;
        gap: 20px;
    }

    .links{
        margin-left: 20px;
    }

    .links a{
        font-size: 0.9rem;
    }
}

@media (max-width: 425px) {
    .btnTema {
        display: none;
    }

    .navContainer {
        padding: 12px;
    }

    .links{
        margin: 0;
    }
}