.tela_claro{
  background-color: #A3CEF1;
  color: #011627;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.tela_escuro{
  background-color: #054070;
  color: #A3CEF1;
  transition: background-color 0.5s ease, color 0.5s ease;
}